-- Example 0
2
AAB
CCD

invalid
-- Example 1
2
AA
BB

valid
-- Example 2
3
iii
iwi
iii

valid
-- Example 3
3
SSnukee
SKnuthe
SSSothe

invalid
-- Example 4
3
rng58
rnggn
rnnnn

valid
-- Example 5
12
ggssGGGGGG
ggssspGGGG
ggsssppGGG
ggWsspGGGG
gggsspGGiG
g7ssspGGGG
gggsseKK33
gggssssK33
gHgsssHA33
HHHHHHHHHH
HHHHHHHHH6
HHHHHHHHb6

invalid
